/* == OTROS  class BOOTSTRAP a ordenar == */



@media (min-width: 768px) {
    .navPrincipal {
        display: flex;
        justify-content: center;
        background-color: whitesmoke;
      }
      
    .navPrincipal li {
        padding-right: 3em;
    }
    }

.bg-light {
    background-color: whitesmoke !important;
  }

  ul.navbar-nav a:hover { background-color: skyblue !important; }
