/* == GRID PRODUCTOS == */

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-bottom: 1.5em;
    margin-left: 15px;
    margin-right: 15px;
    max-width: 100%; }
  
  @media (min-width: 768px) {
    .grid {
      grid-template-columns: repeat(4, 1fr); } }
  
  @media (min-width: 1024px) {
    .grid {
      grid-template-columns: repeat(5, 1fr); } }

      .producto {
        text-align: center;
        display: grid;
        grid-template-rows: 55% 20% 10% 15%;
        background-color: whitesmoke;
        width: 100%;
        outline-style: groove;
        outline-width: thin;
        outline-color: black;
        height: 350px;
        /*cambiado*/ }

.producto_imagen img {
  width: 12em;  
  padding-top: 15px; }

  @media (max-width: 423px) {
    .producto_imagen img {
      width: 167px;
      height: 167px; } }
  
  @media (min-width: 768px) {
    .producto_imagen img {
      width: 177px;
      height: 177px; } }

.producto_nombre {
    margin: 1em;
}

.producto_precio p {
    text-align: center;
}

.producto_imagen {
  transition: transform 0.2s;
}

.producto_imagen:hover {
  transform: scale(1.1);
}

.producto:hover {
  background-color: skyblue;
  cursor: pointer;
}


.producto_btn {
  width: 130px;
  height: 40px;
  padding: 10px 25px;
  border: 2px solid #000;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.btn_ver {
    background: #000;
  color: #fff;
  line-height: 42px;
  padding: 0;
  border: none;
  z-index: 1;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.btn_ver:hover {
  background: transparent;
  color: #000;
}
.btn_ver:before,
.btn_ver:after {
  position: absolute;
  content: "";
  left: 0;
  width: 100%;
  height: 50%;
  right: 0;
  z-index: -1;
  background: #000;
  transition: all 0.3s ease;
}
.btn_ver:before {
  top: 0;
}
.btn_ver:after {
  bottom: 0;
}
.btn_ver:hover:before,
.btn_ver:hover:after {
  height: 0;
  background-color: #000;
}

.producto_imagen {
    transition: transform 0.2s;
}

.producto_imagen:hover {
    transform: scale(1.1);
}
/* == PAGINA DEL PRODUCTO ==*/

@media (min-width: 768px) {
    .vino,
    .cerveza,
    .gourmet {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}

.cerveza__imagen,
.vino__imagen,
.gourmet__imagen {
    max-width: 100%;
}

.vino__contenido,
.cerveza__contenido,
.gourmet__contenido {
    display: inline-block;
    text-align: justify;
    font-size: 16px;
    margin: auto;
    padding: 1.5em;
  }

.formproducto {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    
}
.formp__campo {
   border: 3px solid black;
   background-color: whitesmoke;
   color: black;
   font-size: 15px;
   padding: 5px;
   appearance: none;
   width: 100px;
}

.cali {
    width: 15%;
    height: 15%;
}

.formp__submit {
    border: none;
    padding: 10px 40px;
    cursor: pointer;
    outline: none;
    background: skyblue;
    color: #000;
    font-weight: 600;
    font-size: 18px;
    border-radius: 2px;
}
.formp__submit:hover {
    cursor: pointer;
    background-color: skyblue;
    font-weight: bold;
}

/* == BOTON COMPRAR == */
.btn-primary {
    background-color: steelblue;
    border-color: unset;

}